# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env

.vscode/
requests/get_all_coins.rest
requests/get_all_news.rest
requests/get_coin.rest
